*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(45, 43, 43);
}
nav{
    height: 50px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.leftnav
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(19, 195, 19);
    margin-left: 100px;
}
.rightnav
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-right: 80px;
}
a{
    font-size: 18px;
    text-decoration: none;
    color: white;
}

/*Main content start*/
h1{
    font-size: 50px;
    color: rgba(19, 162, 19, 0.96);
}
.parent
{
    display: flex;
    justify-content: space-between;
}
.leftcnt
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:50px;
    margin-top: 20px;
    margin-left: 50px;
}
button
{
    height: 35px;
    width: 110px;
    background-color: rgba(0, 130, 0, 0.96);
    color: white;
    border-radius: 5px;
    border: none;
    transition: all 0.7s;
}
button:hover{
    scale: 1.1;
    box-shadow: 0px 0px px 0px rgb(5, 173, 5);
}
.rightcnt
{
    background-color: rgb(11, 165, 11);
    border-radius: 50%;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:200px;
    margin-top: 50px;
    box-shadow: 0px 5px 100px 5px rgb(15, 164, 15);
    transition: all 0.6s;
}
.rightcnt:hover
{
    scale: 1.1;
}
img
{
    height: 395px;
    width: 395px;
    border-radius: 50%;
}
p{
    color: white;
    font-size: 20px;
}
/*main content end*/